body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:152px;
  top:2px;
  width:1550px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:33px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:450px;
  top:9px;
  width:183px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1488px;
  top:9px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1528px;
  top:9px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#EF4349;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1384px;
  top:9px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:422px;
  top:56px;
  width:80px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:521px;
  top:67px;
  width:41px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#D0B068;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:582px;
  top:83px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:430px;
  top:99px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:412px;
  top:5px;
  width:28px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1517px;
  top:14px;
  width:10px;
  height:14px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:-3px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:14px;
}
#u21 {
  position:absolute;
  left:957px;
  top:81px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1414px;
  top:80px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1058px;
  top:81px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  color:#CC3300;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1175px;
  top:81px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1296px;
  top:81px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:235px;
  top:149px;
  width:1425px;
  height:1391px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:1391px;
}
#u32 {
  position:absolute;
  left:2px;
  top:688px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:152px;
  top:1539px;
  width:1550px;
  height:223px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:223px;
}
#u34 {
  position:absolute;
  left:2px;
  top:104px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:386px;
  top:1581px;
  width:90px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#D0B068;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:386px;
  top:1615px;
  width:79px;
  height:16px;
  color:#CCCCCC;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:386px;
  top:1643px;
  width:125px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:386px;
  top:1679px;
  width:139px;
  height:16px;
  color:#CCCCCC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:386px;
  top:1705px;
  width:211px;
  height:16px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:652px;
  top:1573px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#E4E4E4;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:811px;
  top:1573px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#E4E4E4;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:953px;
  top:1571px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#E4E4E4;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1212px;
  top:1573px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#E4E4E4;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1072px;
  top:1569px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#E4E4E4;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1218px;
  top:1603px;
  width:112px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1222px;
  top:1713px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
