body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1446px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:124px;
  width:1330px;
  height:1786px;
  font-size:16px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:1786px;
}
#u1 {
  position:absolute;
  left:2px;
  top:885px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:2126px;
  width:1330px;
  height:40px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:1326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:1960px;
  width:1330px;
  height:166px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:166px;
}
#u5 {
  position:absolute;
  left:2px;
  top:75px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:800px;
  top:2000px;
  width:349px;
  height:52px;
  font-size:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:52px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:622px;
  top:1994px;
  width:87px;
  height:82px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u9 {
  position:absolute;
  left:2px;
  top:33px;
  width:83px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1360px;
  top:18px;
  width:86px;
  height:156px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:156px;
}
#u11 {
  position:absolute;
  left:2px;
  top:54px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:622px;
  top:2082px;
  width:98px;
  height:24px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:265px;
  top:1985px;
  width:200px;
  height:112px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:112px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:124px;
  width:1330px;
  height:282px;
  font-size:16px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:282px;
}
#u17 {
  position:absolute;
  left:2px;
  top:132px;
  width:1326px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:104px;
  top:164px;
  width:636px;
  height:203px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:203px;
}
#u19 {
  position:absolute;
  left:2px;
  top:90px;
  width:632px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:104px;
  top:441px;
  width:740px;
  height:440px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:440px;
}
#u21 {
  position:absolute;
  left:2px;
  top:212px;
  width:736px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:880px;
  top:470px;
  width:400px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:920px;
  top:548px;
  width:360px;
  height:304px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:304px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:915px;
  width:1330px;
  height:510px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#1E1E1E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:510px;
}
#u27 {
  position:absolute;
  left:2px;
  top:247px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:540px;
  top:950px;
  width:740px;
  height:440px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:440px;
}
#u29 {
  position:absolute;
  left:2px;
  top:212px;
  width:736px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:104px;
  top:979px;
  width:400px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:104px;
  top:1057px;
  width:360px;
  height:304px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:304px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:1424px;
  width:1330px;
  height:510px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#1E1E1E;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:510px;
}
#u35 {
  position:absolute;
  left:2px;
  top:247px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:104px;
  top:1459px;
  width:740px;
  height:440px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:440px;
}
#u37 {
  position:absolute;
  left:2px;
  top:212px;
  width:736px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:880px;
  top:1488px;
  width:400px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:920px;
  top:1566px;
  width:360px;
  height:304px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:304px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:18px;
  width:1330px;
  height:107px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:107px;
}
#u44 {
  position:absolute;
  left:2px;
  top:46px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:199px;
  top:48px;
  width:41px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#1E1E1E;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:48px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:251px;
  top:64px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#1E1E1E;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:592px;
  top:62px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#0033FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u49_img.selected {
}
#u49.selected {
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_img.mouseDown {
}
#u49.mouseDown {
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1050px;
  top:62px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#0033FF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u51_img.selected {
}
#u51.selected {
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:694px;
  top:62px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#0033FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.mouseDown {
}
#u53.mouseDown {
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:810px;
  top:62px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#0033FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u55_img.selected {
}
#u55.selected {
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:932px;
  top:62px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#0033FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u57_img.selected {
}
#u57.selected {
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u57_img.mouseDown {
}
#u57.mouseDown {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:83px;
  top:36px;
  width:107px;
  height:70px;
  color:#1E1E1E;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:70px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:103px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1190px;
  top:63px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#0033FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1271px;
  top:63px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:14px;
  color:#1E1E1E;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1256px;
  top:66px;
  width:10px;
  height:16px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u66 {
  position:absolute;
  left:1229px;
  top:63px;
  width:21px;
  height:21px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
